<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115825736344-0uiomv8c8pot787m4r4ifaag7996n45u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115825736344-0uiomv8c8pot787m4r4ifaag7996n45u</string>
	<key>API_KEY</key>
	<string>AIzaSyDtdBWxu4xGKFPzqn9MfxYp6gP5095R1Go</string>
	<key>GCM_SENDER_ID</key>
	<string>115825736344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goalTracking</string>
	<key>PROJECT_ID</key>
	<string>goaltracking-e75ff</string>
	<key>STORAGE_BUCKET</key>
	<string>goaltracking-e75ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115825736344:ios:c5f2a7e0f6985142096eed</string>
</dict>
</plist>